.message
  .message__upper
    %p.message__upper__user-name<
      = message.user.name
    %p.message__upper__date<
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  %p.message__text<
    = message.body
    = image_tag message.image