.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__group-name<
        A-ROOM
      %ul.main-header__left-box__menber-list
        Member：
        %li.main-header__left-box__menber-list__menber<
          のむら
    = link_to "#" do
      .main-header__edit-btn<
        Edit
  .messages
    .message
      .message__upper
        %p.message__upper__user-name<
          のむら
        %p.message__upper__date<
          2020/02/07(Fri) 15:20:12
      %p.message__text<
        こんにちは
    .message
      .message__upper
        %p.message__upper__user-name<
          のむら
        %p.message__upper__date<
          2020/02/07(Fri) 15:20:12
      %p.message__text<
        こんにちは
    .message
      .message__upper
        %p.message__upper__user-name<
          のむら
        %p.message__upper__date<
          2020/02/07(Fri) 15:20:12
      %p.message__text<
        こんにちは
  .form
    %form.edit-message
      .edit-box
        %input.edit-box__text{ placeholder: "type a message", type: :text }
        %label.edit-box__image{ for: "message-image"}
          =icon('far', 'image')
          %input.edit-box__image__file#message-image{type: :file}
      %input.send-btn{ type: :submit, value: "Send"}